html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

:root {
    --grid-size: 600px;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grid-container {
    width: var(--grid-size);
    height: var(--grid-size);
    display: flex;
    flex-wrap: wrap;
}

.grid-block {
    border: 1px solid black;
}