*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	font-weight: 300;
	font-family: sans-serif;
	font-size: 1.8rem;
}

.wrapper {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	align-items: center;
	height: 100vh;
}

.grid-container {
	display: grid;
	width: 480px;
	height: 480px;
	user-select: none;
}

.grid-container div:hover {
	background-color: black;
}

.top-container {
	margin-bottom: 2rem;
}

.btn {
	margin-top: 1rem;
	padding: 1rem 2rem;
	font-size: 1.5rem;
	outline: none;
	border: 2px solid #4930d3;
	border-radius: 1rem;
	background-color: white;
	color:#4930d3;
	cursor: pointer;
	text-transform: uppercase;
	transition: background-color .2s ease, color .2s ease;
}

.btn:hover, .btn-clicked {
	color: white;
	background-color: #4930d3;
}

.size {
	padding: 0.5rem;
	margin-top: 1rem;
	position: relative;
	border: none;
	border-bottom: 1px solid black;
	outline: none;
}

.blockTransparent {
	background-color: transparent;
}

.blockColor {
	background-color: black;
}
